*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


:root {
    --NavColor: #323232;
    --NameColor: #1f1f1f;
    --NameText: "Average Sans", sans-serif;
    --NavText: "Oswald", sans-serif;
    --heroPcolor: #606060;
    --heroPtext: "Montserrat", sans-serif;
    --bgcolor: #ffffff;
    --thirdSection: #eeeeee;
    --consultcolor: #ef4f79;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}
header {
    height: 12vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: space-around;
    padding: 0% 5rem;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 100;
}

header h1 {
    font-family: var(--NameText);
    color: var(--NameColor);
    font-size: 1.1rem;
    font-weight: bolder;

}

header h1 a {
    text-decoration: none;
}
header h1 a span {
    color: rgb(249, 74, 16);
}

nav ul {
    display: flex;
    gap: 2rem;
}


nav ul li {
   list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-family: var(--NavText);
    font-size: 1rem;
    color: var(--NavColor);
    font-weight: bold;
}

.fa solid {
    color: var(--NameColor);
    font-size: 5rem;
    background-color: yellow;
}

#hero-section {
    height: 120vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    padding: 8rem;
    align-items: center;
    position: relative;
}

#hero-section img {
    height: 80vh;
    width: 90%;
}

#hero-section p {
    font-family: var(--heroPtext);
    font-size: 2rem;
    color: var(--heroPcolor);
    font-weight: 300;
    /*text-align: center;*/
    position: absolute;
    bottom: 3rem;
    left: 23rem;
}

#hero-section p span {
    margin-left: 6.7rem;
}

#Watch {
    height: 110vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    position: relative;
}

#Watch h1 {
    font-family: var(--NavText);
    font-size: 2.5rem;
    color: white;
}

#Watch p {
    font-family: var(--NameText);
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 11rem;
    left: 13rem;
}

#Watch img {
    height: 80vh;
    width: 90%;
}

#consult-cont {
    height: 50vh;
    width: 100%;
    background-color: var(--thirdSection);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

#consult-cont h1 {
    font-family: var(--NavText);
    font: 2rem;
    font-weight: bold;
    color: var(--NameColor);
}

#consult-cont p {
    font-family: var(--NameText);
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--NameColor);
}


#consult-cont h2 {
    font-family: var(--NavText);
    color: var(--consultcolor);
    font-size: 1.2rem;
}

#consult-cont h2 p {
    font-size: 3rem;
}

#Just-In {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    position: relative;
}

#Just-In h1 {
    font-family: var(--NavText);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--NavColor);
}

#Just-In p {
    font-family: var(--NameText);
    font-size: 1.5rem;
    color: var(--NavColor);
}

.Just-In-display {
    flex: 1;
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Display {
    flex: 1;
    height: 50vh;
    width: 50%;
}

.Display-item1 {
    height: 60vh;
    width: 90%;
    /*background-color: black;*/
    gap: 10px;
    padding: 10px 16px;
}

.Display-item1 img {
    height: 40vh;
    width: 90%;
}

.Display-item2 {
    position: absolute;
    bottom: 2rem;
}

.Display-item2 h2 {
    font-family: var(--NavText);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--NameColor);
}

.Display-item2 h3 {
      font-family: var(--NameText);
      font-size: 1rem;
      font-weight: bold;
      color: #9f0027;
}

.Display-item2 h4 {
    font-family: var(--NameText);
    font-size: 1rem;
    font-weight: 200;
    color: var(--NameColor);
}

.Display-item2 h5 {
    font-family: var(--NameText);
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    color: var(--NameColor);
}


#Artists {
    height: 120vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 5rem;
}

#Artists h1 {
    font-family: var(--NavText);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--NameColor);
}

 .Featured {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.Featured div {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 5px;
    column-gap: 10px;
}

.Featured img {
    height: 40vh;
    width: 90%;
}

.Featured p {
    font-family: var(--NavText);
    font-size: 1rem;
    font-weight: bold;
    color: var(--NameColor);
}

#More {
    height: 180vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    position: relative;
}

#More button {
    padding: 20px 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;
}

#More h1 {
    font-family: var(--NavText);
    color: var(--NameColor);
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    top: 12rem;
}

.Arts {
    height: 140vh;
    width: 90%;
    /*background-color: blue;*/
    position: absolute;
    top: 17rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 15px;
    padding: 2rem 3rem;
}

.Arts img {
    height: 40vh;
    width: 100%;
}

.Arts p {
    font-family: var(--NavText);
    font-size: 1rem;
    font-weight: bold;
    color: var(--NameColor);
    text-align: center;
}

#WhistlerGallery {
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
}

#WhistlerGallery h1 {
    font-family: var(--NavText);
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--NameColor);
    position: absolute;
    top: 5.5rem;
}

#WhistlerGallery p {
    font-family: var(--NameText);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--heroPcolor);
    position: absolute;
    top: 10.5rem;
}

#WhistlerGallery h2 {
    font-family: var(--NameText);
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--heroPcolor);
    position: absolute;
    top: 14rem;
}

#WhistlerGallery h4 {
    align-items: center;
    position: absolute;
    top: 19rem;
    font-family: var(--NameText);
    color: var(--heroPcolor);
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    padding: 0 9rem;
    gap: 2.5rem;
}

#Off-Piste {
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
}

#Off-Piste h1 {
    font-family: var(--NavText);
    color: var(--NameColor);
    font-size: 2.3rem;
    font-weight: bold;
}

.Buttons {
    display: flex;
    gap: 1rem;
}

.Buttons button {
    font-family: var(--NavText);
    font-size: 1rem;
    color: var(--bgcolor);
    border: none;
    background-color: black;
    padding: 10px 20px;
}